pinecone
cohere
groq
langgraph
langchain
langchain-core
langsmith
cartesia
fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pinecone-text
deepgram-sdk
pymongo[srv]
dnspython
resend
requests
